
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Public Sans", sans-serif;
    background: linear-gradient(135deg, #BEDAFF, #91B7FF, #B7D4FF);
    color: white;
    overflow-x: hidden;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* ===== nvbar ===== */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav {
    padding: 30px 0;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 10px; 
    list-style: none;
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 8px; 
    border-radius: 50px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.227); 
}

.nav-list li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 10px 25px; 
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease;
}


.nav-list li a:hover,
.nav-list li a.active {
    background-color: #000000e1; 
    color: #ffffff; 
}


/* ===== hero ===== */
.hero {
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}


/* ===== bubble== ===== */
.bubble {
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.8;
    z-index: -1; 
    pointer-events: none;
}

.bubble-1 {
    width: 300px;
    height: 300px;
    background: #008ebd;
    bottom: 10%;
    left: 10%;
    animation: float1 6s infinite ease-in-out; 
}

.bubble-2 {
    width: 400px;
    height: 400px;
    background: #02a4d9;
    top: 10%;
    right: 5%;
    animation: float2 7s infinite ease-in-out; 
}




@keyframes float1 {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(300px, -200px) scale(1.1); 
    }
    50% {
        transform: translate(500px, 100px) scale(0.9); 
    }
    75% {
        transform: translate(-100px, 250px) scale(1.1); 
    }
}

@keyframes float2 {
   0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    33% {
        transform: translate(-400px, 300px) scale(1.2); 
    }
    66% {
        transform: translate(-150px, -350px) scale(0.8); 
    }
}

/* ===== glasss==== ===== */
.hero-glass {
    width: 96vw;
    height:96vh;
    padding: 50px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.314);
    backdrop-filter: blur(20px);
    overflow: hidden;
}

/* ===== wrapper class ===== */
.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

}

.hero-text {
    position: absolute;
    top: 40%;     
    left: 50px;         
    transform: translateY(-50%);
    z-index: 10;


}

/* ===== texts========= */
.hero-text h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
}

.hero-text span {
    color: #1d75a8;
}

.animated-text {
    margin: 30px 0;
    font-size: 38px;
    color: #ffffff;
}

/* ===== btton========= */
.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.cv-btn {
    background: white;
    color: black;
    /* border: 2px solid #000000; */
}

.hire-btn {
    background: white;
    /* border: 2px solid #000000; */
    color: #000000;
}

.btn:hover {
    transform: scale(1.1);
}

/* ===== img ===== */
.hero-image img {
    width: auto;
    height: 80%;
    position: absolute;
    bottom: 0;
    right:5%;
   
}

/* ===== marquee ===== */
.marquee {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom:-3%;
}

.marquee-track {
    display: flex;
    width: max-content;
    animation: marqueeMove 12s linear infinite;
}

.marquee-track h1 {
    font-size: 76px;
    white-space: nowrap;
    margin-right: 100px;
    color: #000;
    font-family: "Italiana", sans-serif;
}


@keyframes marqueeMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/* typewriter animation */

#type {
    border-right: 3px solid rgb(0, 0, 0);
    padding-right: 5px;
    font-weight:normal;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#type {
    animation: blink 0.7s infinite;
}



/* ===========================================================About section================================================= */

.image-circle{
    background-color: #02A4D9;
    width: 400px;
    height: 370px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible ;
    z-index: 1;

    
}

.left-div {
     /* transform: translateY(80px); */
      transform: translateY(155px);
      /* border: solid 3px black; */


}

.about-wrapper {

     display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;

}

.left-image img{
     width: 85%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-50px) scale(1.1);
    transform: translateX(40px) scale(1.1);

    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.image-container{
    position: relative;
    width: 100%;
    height: 100%;
    /* top: 75%; */
     /* bottom: 25%; */
    /* left: 0;
    right: 0;
    margin: auto; */
    
}

.left-image{
    position: absolute;
    bottom: 0;
    z-index: 2;
}








/*========================================== media quaries responsive web=================================== */

@media (min-width: 1600px) {
    .hero-text h1 {
        font-size: 100px; 
    }
    
    .animated-text {
        font-size: 50px;
    }
    
    .marquee-track h1 {
        bottom: -10%;
        font-size: 100px; 
    }

    .hero-buttons{
        font-size: 25px;
    }
}

